.order-info {
  padding-top: 32px;
  padding-bottom: 130px;
  color: $text-color--order-info;
  background: red;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 124px;
    padding-bottom: 186px;
  }
}

.order-info__title {
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 41.54%;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 61.15%;
  }
}

.order-info__list {

  @media (min-width: $tablet-width) {
    padding-left: 41.54%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 61.15%;
  }
}

.order-info__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 18px;
  padding-right: 5px;

  @media (min-width: $tablet-width) {
    width: 80.95%;
  }
}

.order-info__number {
  display: block;
  padding-right: 2px;
  width: 17.14%;
  font-family: "PlayfairDisplay", "Times New Roman", serif;
  font-size: 35px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    width: 13.37%;
  }
}

.order-info__subtitle {
  margin: 0;
  //margin-bottom: 4px;
  width: 82.86%;
  font-size: 15px;
  font-weight: 700;
}

.order-info__description {
  margin: 0;
  padding-left: 17.14%;

  @media (min-width: $tablet-width) {
    padding-left: 13.37%;
  }
}
