.page-footer {
  padding-top: 35px;
  font-family: 'Roboto','Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $text-color--footer;
  background: $background-color--footer;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    font-size: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    color: $text-color--main;
    background: $background-color--menu;
  }
}

.page-footer__inner {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  @media (min-width: 768px) and (max-width: 1365px) {
    padding: 0 2.6%;
  }
}

.page-footer__logo {
  margin-bottom: 15px;
  font-family: "PlayfairDisplay", "Times New Roman", serif;
  font-size: 28px;
  line-height: 44px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-right: 2.76%;
    margin-bottom: 27px;
    padding-right: 5.36%;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 1.64%;
    padding-right: 4.92%;
  }
}

.page-footer__phone {
  display: block;
  margin-bottom: 30px;
  color: $text-color--footer;

  @media (min-width: $tablet-width) {
    display: none;
    font-size: 0;
  }
}

.page-footer__social {
  margin-bottom: 30px;

  @media (min-width: $mobile-only-width) and (max-width: $not-desktop-width) {
    order: 4;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 1.64%;
    width: 11.31%;
  }
}

.page-footer__copyright {
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 25px;
  color: #b8b8b8;
  //border-top: 1px solid #959595;

  @media (min-width: $tablet-width) {
    margin-right: 32px;
    padding-top: 12px;
    padding-bottom: 11px;
  }
}
