.page-header {
  width: auto;
  min-height: 40px;
  background-color: #fff;
}


.page-header__logo {
  font-family: "PlayfairDisplay", "Times New Roman", serif;
  font-size: 16px;
  line-height: 33px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 23px;
  }
}

.page-header__phone {

  @media (max-width: $mobile-only-width) {
    display: none;
  }
}
