.promo {
  padding-top: 130px;
  padding-bottom: 53px;
  background: url('../img/promo-mobile@1x.png') no-repeat 50% -40px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url('../img/promo-mobile@2x.png') no-repeat 50% -40px;
      background-size: 320px auto;
    }

  @media (min-width: $tablet-width) {
    padding-top: 112px;
    min-height: 700px;
    background: url('../img/promo-tablet@1x.png') no-repeat 100% 10px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url('../img/promo-tablet@2x.png') no-repeat 100% 10px;
      background-size: 496px auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 150px;
    min-height: 930px;
    background: url('../img/promo-desktop@1x.png') no-repeat 100% 10px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url('../img/promo-desktop@2x.png') no-repeat 100% 10px;
      background-size: 1008px auto;
    }
  }
}

.promo__inner {
  display: flex;
  flex-direction: column;
 }

.promo__title {
  margin-bottom: 24px;
  padding: 0 50px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 0;
    padding-right: 55%;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.promo__slogan {
  margin-bottom: 19px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.promo__list {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    order: 4;
    display:flex;
    }
}

.promo__item {
  margin-bottom: 13px;
  padding-left: 15%;

  @media (min-width: $tablet-width) {
    margin-right: 10.39%;

    &--natural {
      padding-left: 9.94%;
      width: 22.26%;
    }

    &--delivery {
      padding-left: 10.68%;
      width: 35.61%;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 4.92%;

    &--natural {
      padding-left: 5.49%;
      width: 12.95%;
    }

    &--delivery {
      padding-left: 5.9%;
      width: 20.49%;
    }
  }
}

.promo__btn {

  @media (min-width: $tablet-width) {
    margin-bottom: 150px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 130px;
  }
}
