.slogan {
  margin: 0;
  font-family: "IntroScriptR", "Roboto", sans-serif;
  font-size: 22px;
  line-height: normal;
  font-weight: 400;

   @media #{$tablet} {
    font-size: 26px;

    &--main {
      font-size: 28px;
    }
  }

  @media #{$desktop} {
    font-size: 35px;

    &--main {
      font-size: 41px;
    }
  }
}
