.slogan {
  margin: 0;
  font-family: "IntroScriptR", "Roboto", sans-serif;
  font-size: 22px;
  //line-height: normal;
  font-weight: 400;
  color: $text-color--slogan;

   @media (min-width: $tablet-width) {
    font-size: 26px;

    &--main {
      font-size: 28px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;

    &--main {
      font-size: 41px;
    }
  }
}
