.special-order {
  padding-top: 43px;
}

.special-order__inner {
  padding: 0 2.6%;
}

.special-order__title {
  margin: 0;
  padding-left: 3px;
  text-align: center;
}

.special-order__slogan {
  text-align: center;
}

.special-order__item {
  margin-bottom: 10px;
  background: $background-color--item;
}
