* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Circe', 'Arial', sans-serif;
  font-size: 14px;
  //line-height: 20px;
  font-weight: 400;
  color: $text-color--main;
  background: $background-color--main;

//  @media #{$tablet} {
//    font-size: 17px;
//    line-height: 30px;
//  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    //line-height: 24px;
  }

}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
