$background-color: #fbebea;
$background-color--footer: #898989;
$background-color--menu: #e7e7e7;

$black: #000;
$white: #fff;

$grey-lightest: #ccc;
$grey-lighten:  #a2a2a2;
$grey--light:   #6c6869;
$grey:          #595959;
$grey--dark:    #32303d;
$grey--darken:  #2f2f2f;
$grey--darkest: #2d2829;

$brand-color--lightest: #f897a7;
$brand-color--light:    #f77b91;
$brand-color:           #f50049;

$btn-text-color: #fff;

$mobile: 'only screen and (max-width: 767px)';
$tablet: 'only screen and (min-width: 768px) and (max-width: 1219px)';
$desktop: 'only screen and (min-width: 1220px)';

$retina: '(min-resolution: 144dpi), (min-resolution: 1.5ppx)';
