$background-color--main: #fbebea;
$background-color--item: #fff;
$background-color--footer: #898989;
$background-color--menu: #e7e7e7;


$text-color--main: #2d2829;
$text-color--other: #6c6869;
$text-color--slogan: #32313e;
$text-color--btn: #fff;
$text-color--footer: #fff;
$text-color--order-info: #fff;

$border-color--menu: #dedede;
$border-color--form: #ddd;

$contact-form-color: #c9bcbb;

$brand-color--lightest: #f897a7;
$brand-color--light:    #f77b91;
$brand-color:           #f50049;

//$grey-lightest: #ccc;
//$grey-lighten:  #a2a2a2;
//$grey--light:   #6c6869; //24 вида
//$grey:          #595959;///text circle
//$grey--dark:    #32313e; //slogan
//$grey--darken:  #2f2f2f;//text
//$grey--darkest: #2d2829; // title

//$mobile: 'only screen and (max-width: 767px)';
//$tablet: 'only screen and (min-width: 768px) and (max-width: 1365px)';
//$desktop: 'only screen and (min-width: 1366px)';

$mobile-only-width: 767px;
$tablet-width: 768px;
$not-desktop-width: 1365px;
$desktop-width: 1366px;

//$retina: '(min-resolution: 144dpi), (min-resolution: 1.5ppx)';
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
